body {
  font-size: 16px;
  color: #fff;
  background-color: #f2f2f2;;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: #4caf50;
   border-radius: 0;
   border: 2px solid black; 
   /*width:100vw;  container-fluid ayond already 100vw*/
  /* height:15vh;    error: fixed height use cheyyaruth*/
}

.navbar-brand h1 
{                                      /* Restaurant name */
  font-family: 'Lora', serif;
  color: #b71c1c;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
   margin-top: 0;
  margin-bottom: 0; 
  line-height: 0.75; 
}

#nav-list {       
  margin-top: 10px;      /*entire list got 10px margin*/
}
#nav-list a               /*text in the list*/
{
  color: #282db6;
  font-size: 1.5em;
  font-weight: 700;         
  text-align: center;
  text-shadow: 1px 1px 1px #222;
}
#nav-list a:hover {                  
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

h1{
  color:rgba(246, 255, 0, 0.979);
  text-shadow: 1px 1px 1px #222;
  font-weight: 700;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.content-box {
   background-color: #ffffff;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

h3{
  color: #d32f2f;
  font-size: 3em;
  margin: 25px auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; 
}

p{
  color: #333;
  line-height: 1.6;
  font-size: 1.2em;
  /*background-color:white; pakaram cont box inu koduth*/
}

